/* produtos_em_estoque.css */

body {
    background-color: #0c0e11;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.produtos {
    list-style-type: none;
    padding: 0;
}


.produto {
    background-color: #ffffff; /* Cor de fundo branco */
    border: 1px solid #cccccc; /* Borda cinza claro */
    padding: 10px;
    margin-bottom: 10px;
    color: #000000; /* Cor do texto preto */
}

.produto .quantidade {
    font-weight: bold; /* Negrito */
}

header {
    background: #141a20;
    padding: 1rem 0;
    text-align: center;
}

header a {
    color: #00aaff;
    text-decoration: none;
    font-size: 2rem;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #1c1e22;
    color: #fff;
}

tfoot p {
    text-align: center;
}

footer {
    background: #141a20;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    color: #ccc;
}

