<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos em Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produtos_em_estoque.css') }}">
</head>
<body>
    <header>
        <h1>Produtos em Estoque</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr class="produto">
                    <td>{{ produto.nome }}</td>
                    <td class="quantidade">{{ produto.quantidade }}</td>
                    <td>{{ produto.preco }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
